langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langgraph==0.2.27
langchain-groq==0.1.9
sqlalchemy
faiss-cpu
sentence-transformers
tavily-python
python-dotenv
langsmith
duckduckgo-search
wikipedia
streamlit